[Assisted Install]

License Accepted={{ assisted_install.License_Accepted }}

Deployment Options={{ assisted_install.Deployment_Options }}

Admin Console User={{ assisted_install.Admin_Console_User }}

Admin Console Password={{ assisted_install.Admin_Console_Password }}

Admin Console PIN={{ assisted_install.Admin_Console_PIN }}

License Certificate Path={{ assisted_install.License_Certificate_Path }}

Filter Databases={{ assisted_install.Filter_Databases }}

Remove Desktop Shortcut={{ assisted_install.Remove_Desktop_Shortcut }}

Remove Sample Database={{ assisted_install.Remove_Sample_Database }}

Use HTTPS Tunneling={{ assisted_install.Use_HTTPS_Tunneling }}

Swap File Size={{ assisted_install.Swap_File_Size }}

Swappiness={{ assisted_install.Swappiness }}
